
<script src="../Controllers/UsersController.js"></script>

<div ng-controller="UsersController">
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Login</td>
            <td>Password</td>
            <td>Company</td>
            <td>Status</td>
        </tr>

        <tr ng-repeat="user in Users">
            <td><input type="text" ng-model="user.Id" /></td>
            <td><input type="text" ng-model="user.Name" /></td>
            <td><input type="text" ng-model="user.Login" /></td>
            <td><input type="text" ng-model="user.Password" /></td>
            <td><input type="text" ng-model="user.CompanyID" /></td>
            <td><input type="text" ng-model="user.ContractStatus" /></td>
        </tr>
    </table>
</div>