body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a{
    cursor:pointer;
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.navbar-link{
    font-size:28pt;
    color:darkgray;
    position:center;
    margin-left:20px;
    margin-right:20px;
}

.navbar-link:hover{
    color:lightgray;
}

.navbar-link-selected{
    color:whitesmoke;
    font-size:30pt;
    position:center;
    margin-left:20px;
    margin-right:20px;
}

#progress-bar{
    width: 132px;
    height: 132px;
    position: absolute;
    margin-left: -66px;
    margin-top: -66px;
    top: 50%;
    left: 50%;
}

.progress-bar-little{
    width: 32px;
    height:32px;
}

.progress-bar-little image{
    max-width: 100%;
    width:15px;
    height:15px;
    overflow:hidden;
    background-size:cover;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
